body {
  background-color: var(--DarkBlue);
  color: var(--LightCyan);
}

.main {
  background-color: var(--DarkGrayishBlue);
  height: 330px;
  margin: 70px auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 35px 10px 64px 10px;
  box-shadow: 20px 20px 15px rgba(7, 7, 7, 0.2);
}

@media screen and (min-width: 900px) {
  .main {
    max-width: 40%;
  }
}

@media screen and (min-width: 374px) {
  .main {
    width: 80%;
  }
}

@media screen and (max-width: 374px) {
  .main {
    padding-bottom: 60px;
  }
}

.mobile {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .mobile {
    display: none;
  }
}

.desktop {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .desktop {
    display: none;
  }
}

.header {
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--NeonGreen);
  padding: 20px 0;
}

.quote {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 40px 0;
  width: 70%;
  height: 150px;
  font-size: 20px;
}

.elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button {
  justify-content: center;
  width: 100%;
  margin: auto;
  color: var(--DarkBlue);
  background-color: var(--NeonGreen);
  width: 60px;
  height: 60px;
  position: absolute;
  margin: auto;
  border-radius: 100px;
  border: none;
  transition: ease-in-out 0.4s;
}

.button:hover {
  box-shadow: 0 0 15px var(--NeonGreen);
}

@media screen and (max-width: 1800px) {
  .button {
    bottom: 42%;
    translate: 140px;
  }
}

@media screen and (min-width: 374px) {
  .button {
    left: 40%;
    transform: translateY(65px);
  }
}

@media screen and (max-width: 900px) {
  .button {
    translate: 10px -61px;
  }
}

.svg {
  display: flex;
  margin: auto;
}

.pattern {
  padding: 25px 0px 30px 0;
  margin-top: 0;
  padding-bottom: 30px;
  margin: 0 auto;
}

.loading {
  text-align: center;
  margin: 120px auto;
  height: 50px;
}
