/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);

  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}

* {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 28px;
}
